<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid fw-bold fs-4 user-select-none">
    <!-- Left: Navbar Brand -->
    <a class="navbar-brand fs-2" href="/index.html"
      ><span class="text-primary">LOCKED</span> IN</a
    >

    <!-- Navbar Toggler (for mobile menu) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Center: Navigation Links -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto d-flex gap-5">
        <li class="nav-item">
          <a class="nav-link" href="/public/pages/plans.html">Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <!-- Right: Call to Action Button -->
      <button class="btn btn-outline-light rounded-0 fs-4 ms-auto">
        Book Now
      </button>
    </div>
  </div>
</nav>
