<div class="col-md-3 card-transform shadow-lg">
  <div
    class="position-relative border border-CLASS border-5 rounded-4 d-flex flex-column"
  >
    <img
      src="IMAGE"
      class="img-fluid w-100"
      alt="NAME Trainer"
    />

    <div
      class="position-absolute bottom-0 start-50 translate-middle-x text-center text-CLASS text-shadow fw-bold fs-1 p-3 w-100"
    >
      <p class="my-0">NAME</p>
      <p class="fs-6 mt-0 mb-5">SPECIALTY</p>
    </div>

    <div class="position-absolute top-0 POSITION-0 m-2">
      <img
        src="ICON"
        class="img-fluid icons"
        alt="ICONNAME Icon"
      />
    </div>

    <button
      class="btn btn-CLASS z-1 p-2 w-100 rounded-bottom rounded-top-0 fw-semibold"
    >
      SELECT TRAINER
    </button>

    <a href="#" class="stretched-link"></a>
  </div>
</div>
