<div
  class="position-relative border border-CLASS border-5 rounded-4 d-flex flex-column shadow-lg flex-fill w-60 mx-auto"
>
  <img
    src="IMAGE"
    class="img-fluid w-100"
    alt="NAME Trainer"
    style="user-select: none; pointer-events: none;"
  />

  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-center text-CLASS text-shadow fw-bold fs-1 p-3 w-100"
  >
    <p class="my-0">NAME</p>
    <p class="fs-6 mt-0 mb-1">SPECIALTY</p>
  </div>

  <div class="position-absolute top-0 POSITION-0 m-2">
    <img src="ICON" class="img-fluid icons" alt="ICONNAME Icon" />
  </div>
</div>
